@charset "UTF-8";
button{
	display: inline-block;
	width: 250px;
	text-allign: center;
	  margin:0;
	  position: relative;
	  top:50%;
	  left:25%;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
  width: 240px;
}
textarea {
  display: inline-block;
  float: left;
}
select {
  display: inline-block;
  float: left;
}
h3 {
	  text-align: center;
	  margin:0;
	  top:50%;
	  left:25%;
}
section{
	width:450px;
}
.table {
	display: table;
}
.table>* {
	display: table-row;
}
.table>*>* {
	display: table-cell;
}